In [23]:
# Load and Inspect the Data

import pandas as pd

# Define column names
column_names = ['ids', 'date', 'flag', 'user', 'text']

# Load the dataset with column names
df = pd.read_csv("ProjectTweets.csv", names=column_names)

df.head()

,ids,date,flag,user,text
0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, t..."
1,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
2,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
3,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
4,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."

This code defines column names, loads the dataset, and displays the first few rows to understand the structure of the data.

In [26]:
# Data Cleaning
#Handle missing values

# Handle missing values: Drop rows with missing tweet text
df.dropna(subset=['text'], inplace=True)

This code drops rows with missing text in the 'text' column

In [27]:
# Hnadle duplicate Rows
# Handle duplicate rows: Drop duplicate tweets
df.drop_duplicates(subset=['text'], inplace=True)